<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>
	<header>
		<%- include('../partials/header'); %>
	</header>
	<main>
		<div class="row mt-5">
			<div class="col p-5">
				<h5>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/plantillas" class="link-secondary">PLANTILLAS</a></li>
							<li class="breadcrumb-item active" aria-current="page">
								<strong>NUEVA PLANTILLA</strong>
							</li>
						</ol>
					</nav>
				</h5>
				<p class="lead">
					CREAR PLANTILLAS
				</p>
				<% if (typeof errors !=="undefined" ) { %>
					<div class="alert alert-danger mt-2" role="alert">
						<% errors.forEach(function(error) { %>
							<p>
								<%= error.msg %>
							</p>
							<% }) %>
					</div>
					<% } %>
			</div>
		</div>
		<div class="col">
			<form method="POST" action="/plantillas/create">
				<div class="mb-3">
					<label class="form-label">NOMBRE</label>
					<input type="text" name="nom" class="form-control" value="<%= plantilla.nom %>">
				</div>
				<div class="mb-3">
					<label class="form-label">ORDEN DEL DÍA</label>
					<input type="text" name="puntsOrdreDia[]" class="form-control">
				</div>

				<button type="submit" class="btn btn-primary">GUARDAR</button><button type="button" id="addOrdreDia"
					class="btn btn-secondary">Agregar Orden del Día</button>
				<button type="button" id="deleteOrdreDia" class="btn btn-danger">Borrar Orden del Día</button>
			</form>
		</div>
		</div>
		<script>
			document.getElementById("addOrdreDia").addEventListener("click", function () {
				let input = document.createElement("input");
				input.type = "text";
				input.name = "puntsOrdreDia[]";
				input.classList.add("form-control");
				input.classList.add("mb-3");
				let label = document.createElement("label");
				label.classList.add("form-label");
				label.innerHTML = "Orden del día";
				let form = document.querySelector("form");
				form.insertBefore(input, document.querySelector("button[type='submit']"));
				form.insertBefore(label, input);
			});
		</script>
		<script>
			document.getElementById("deleteOrdreDia").addEventListener("click", function () {
				let inputs = document.getElementsByName("puntsOrdreDia[]");
				let lastInput = inputs[inputs.length - 1];
				let lastLabel = lastInput.previousSibling;
				lastInput.remove();
				lastLabel.remove();
			});
		</script>
	</main>
	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</body>

</html>