<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>

	<header>
		<%- include('../partials/header'); %>
	</header>
	<main>
		<div class="container">
			<h1 class="display-3">Actas</h1>
			<div class="table-responsive">
				<table class="table table-striped ">
					<thead>
						<tr>
							<th scope="col">Estat</th>
							<th scope="col">Descripcions</th>
							<th scope="col">Convocatoria</th>
							<th scope="col">Acords</th>
							<th scope="col">
								<a href="/actas/create" class="btn btn-primary">New</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<% list.forEach(function(acta) { %>
							<tr>
								<td>
									<%= acta.estat %>
								</td>
								<td>
									<% acta.descripcions.forEach(function(desc) { %>
										<span class="badge text-bg-secondary">
											<%= desc %>
										</span>
										<% }); %>
								</td>
								<td>
									<%= acta.convocatoria.lloc %>
								</td>
								<td>
									<% acta.acords.forEach(function(acord) { %>
										<span class="badge text-bg-secondary">
											<%= acord.descripcio %>
										</span>
										<% }); %>
								</td>
								<td>
									<a href="/actas/update/<%=acta._id%>" class="btn btn-secondary">Edit</a>
								</td>
							</tr>
							<% }); %>
					</tbody>
				</table>
			</div>

		</div>
	</main>
	<footer>
		<%- include('../partials/footer'); %>
	</footer>

</body>

</html>