<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>
	<header>
		<%- include('../partials/header'); %>
	</header>
	<main>
		<div class="container">
			<h1 class="display-3">Grups</h1>
			<div class="table-responsive">
				<table class="table table-striped ">
					<thead>
						<tr>
							<th scope="col">Nom</th>
							<th scope="col">Tipus</th>
							<th scope="col">Membres</th>
							<th scope="col">
								<a href="/grups/create" class="btn btn-primary">New</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<% list.forEach(function(grup) { %>
							<tr>
								<td>
									<%= htmlDecode(grup.nom) %>
								</td>
								<td>
									<%= htmlDecode(grup.tipus) %>
								</td>
								<td>
									<% grup.membres.forEach(function(usuario) { %>
										<span class="badge text-bg-secondary">
											<%= htmlDecode(usuario.nom) %>, <%= htmlDecode(usuario.cognom) %>
										</span>
										<% }); %>
								</td>
								<td>
									<a href="/grups/update/<%=grup._id%>" class="btn btn-secondary">Edit</a>
								</td>
							</tr>
							<% }); %>
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</body>

</html>